header{
    background: rgb(238, 239, 241);
}
header .container {
    padding-top: 57px;
    display: flex;
    justify-content: space-between;

}

header ul {
    display: flex;
    gap: 42px;
}

header ul li {
    list-style: none;
    color: rgb(0, 0, 0);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
    letter-spacing: 10%;
    text-align: left;
}